body {
	font-size: 12px
}

th,td {
	font-size: 12px
}

.title {
	background-color: #DDDDDD
}

.hand {
	cursor: hand;
}

.red {
	color: red;
}

.STYLE1 {
	color: #FFFFFF;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

a:active {
	text-decoration: none;
	color: #000000;
}
.txt{
	width: 100px;
	height: 20px;
}
.style2{
	color:#FFFFFF
}
.errors{
	color:#FF0000;
}